<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>   
<script src="account.controller.js"></script>
<script src="../common/xml2json.min.js"></script>
<script src="../common/cookieGet.js"></script>
<script src="../common/eraseCookieFromAllPaths.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*");>
<link rel="stylesheet" type="text/css" href="../common/style.css">
</head>
<body ng-app="scopeRegistration">
<title>Registration</title>

<form name="regForm" ng-submit="vm.register()" role="form">
<div ng-controller="RegController" class = "class-to-center">
<br>
<table class= "nobackgroundtable">
	<col width="200px">
	<col width="160px">
	<col width="200px">
			<thead>
				<tr>
				</tr>
				<tr>
					<th colspan="2">Account Data</th>
				</tr>
				<tr>
				</tr>
				<tr>
				</tr>
			</thead>
			<tbody>
				<tr >
				</tr>
				<tr>
					<td align="right">First Name:</td>
					<td align="left">
						<input type="text" id="fname" name="fname" ng-model="fname" ng-minlength="1" ng-maxlength="45" required>
					</td>
					<td align="left">
						<span ng-show="regForm.fname.$touched && regForm.fname.$error.required"><error>Please add First Name</error></span>
  						<span ng-show="regForm.fname.$error.maxlength"><error>First name is too long</error></span>
  						<span ng-show="regForm.fname.$touched && !regForm.fname.$error.required && !regForm.fname.$error.maxlength"><valid>Validated</valid></span>
  					</td>
				</tr>
				<tr>
					<td align="right">Last Name:</td>
					<td align="left">
						<input type="text" id ="lname" name="lname" ng-model="lname" ng-minlength="1" ng-maxlength="50" required>
					</td>
					<td align="left">
						<span ng-show="regForm.lname.$touched && regForm.lname.$error.required"><error>Please add Last Name</error></span>
  						<span ng-show="regForm.lname.$error.maxlength"><error>Last name is too long</error></span>
  						<span ng-show="regForm.lname.$touched && !regForm.lname.$error.required && !regForm.lname.$error.maxlength"><valid>Validated</valid></span>
  					</td>
				</tr>
				<tr>
					<td align="right">
						E-mail: 
					</td>
					<td align="left">
						{{email}}
  					</td>
  					<td align="left">
  					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="button" id="reset" ng-click='resetName()' value="Reset" class="btn" />
						<input type="button" id="update" ng-disabled="(regForm.lname.$touched || regForm.fname.$touched ) && !regForm.fname.$valid && !regForm.lname.$valid" ng-click='updateName()' value="Update " class="btn"  />
						<br>
						<error>{{NameError}}</error>
						<valid>{{NameValidate}}</valid>
					</td>
        		</tr>
        		<tr>
        			<td>
        			</td>
        			<td>
        				<input type="button" id="delete" ng-click='deleteAccount()' value=" Delete Account " 
						class="btn"/>
					</td>
				</tr>
			</tbody>
	</table>
	<br>		
	<table class= "nobackgroundtable">
		<col width="200px">
		<col width="160px">
		<col width="200px">
			<thead>
				<tr>
				</tr>
				<tr>
					<th colspan="2">Change Password</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
				<tr>
					<td align="right">Old Password:</td>
					<td align="left">
						<input type="password" id="oldPassword" name="oldPassword" ng-model="oldPassword" 
						required>
  					</td>
					<td align="left">
					 	<span class="error" ng-show="!myForm.input.$valid">
						<span ng-show="regForm.password.$touched && !regForm.password.$valid"><error>Please specify your password</error></span>
  						<span ng-show="regForm.password.$valid"><valid>Validtaed</valid></span>
  					</td>
				</tr>
				<tr style="background-color: white;">
					<td align="right">Password:</td>
					<td align="left">
						<input type="password" id="password" name="password" ng-model="password" 
						ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,20}$/"
						ng-minlength="6" ng-maxlength="20" required>
  					</td>
					<td align="left">
					 	<span class="error" ng-show="!myForm.input.$valid">
						<span ng-show="regForm.password.$touched && !regForm.password.$valid"><error>6 to 20 characters, one numeric digit and a special character</error></span>
  						<span ng-show="regForm.password.$valid"><valid>Validtaed</valid></span>
  					</td>
				</tr>
				<tr>
					<td align="right">Confirm Password:</td>
					<td align="left">
						<input type="password" id="passwordConfirm" name="passwordConfirm" ng-model="passwordConfirm" 
						ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,20}$/"
						ng-minlength="6" ng-maxlength="20" ng-match="password" required>
						
					</td>
					<td align="left">
						<span ng-show="regForm.passwordConfirm.$touched && password !== passwordConfirm"><error>Passwords are not correct or don't match</error></span>
  						<span ng-show="regForm.passwordConfirm.$touched && !regForm.passwordConfirm.$error.required && password == passwordConfirm"><valid>Validtaed</valid></span>
  					</td>
				</tr>
				<tr style="background-color: white;">
					<td></td>
					<td>
						<input type="button" id="resetpwd" ng-click='reset()' value="Reset" class="btn"  />
						<input type="button" id="updatepwd" ng-disabled="!regForm.oldPassword.$valid && !regForm.password.$valid && !regForm.passwordConfirm.$valid" ng-click='updatePassword()' value="Update" class="btn"  />
						<br>
						<error>{{PwdError}}</error>
						<valid>{{PwdValidate}}</valid>
					</td>
        		</tr>
			</tbody>
		</table>			
	</div>
	</form>
</body>
</html>