<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>   
<script src="index.controller.js"></script>
<script src="../common/cookieGet.js"></script>
<script src="../common/eraseCookieFromAllPaths.js"></script>
<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*">
		<meta charset="utf-8"/>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<!-- The main CSS file -->
		<link rel="stylesheet" type="text/css" href="../common/style.css">
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
<body ng-app="scopeRegistration">
<title>Index</title>

<form name="regForm" ng-submit="vm.register()" role="form">
<div ng-controller="RegController">
<table style ="width: 100%; table-layout: fixed;">
<colgroup>
	<col style = "width:50%">
	<col style = "width:50%">
</colgroup>
		<tr>
			<td>
				Hello, {{currentUserName}}
			</td>
			<td align="right">
				<input type="button" id="logout" name="logout" ng-click='logout()' img src="logout.png" value="Logout" 
				style="border : none;" class="btn"/>
				<!-- <img src="logout.png" alt="Logout" ng-click='logout()';" />  -->
			</td>
      	</tr>
</table>

<nav class="{{active}}" ng-click="$event.preventDefault()">
			<!-- When a link in the menu is clicked, we set the active variable -->
			<a href="#" ng-click="iframeurl='../messages/messages.view.html'" ng-click="active='messages'">Messages</a>
			<a href="#" ng-click="iframeurl='../friends/friends.view.html'"  ng-click="active='about'">Contacts</a>
			<a href="#" ng-click="iframeurl='../account/account.view.html'"  ng-click="active='account'">My Account</a>
			<a href="#" ng-click="iframeurl='../about/about.html'"  ng-click="active='e-mail me'">E-mail Me</a>
		</nav>
		
		<iframe id="iframeid" ng-src="{{iframeurl}}" frameBorder="0" width="100%" height="550px" >
  			<p>Your browser does not support iframes.</p>
		</iframe>
		
		<footer>
			<p ng-show="active">You chose <b>{{active}}</b></p>
		</footer>
		
</div>
</form>
</body>
</html>