<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="messages.controller.js"></script>
<script src="../common/xml2json.min.js"></script>
<script src="../common/cookieGet.js"></script>
<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*">
	<meta charset="utf-8"/>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
	<!-- The main CSS file -->
	<link rel="stylesheet" type="text/css" href="../common/style.css">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
	
<body ng-app="myAppName">
<div ng-controller="ContactController" class = "class-to-center">
	<div style="float:left; width:23%;">
		<b>Friends</b>
		<br>
		<input type="text" id="searchForFriends" placeholder="Search for Friend" ng-model="searchForFriend" style = "width:100%;">
		<hr>
		<div ng-show="!contacts.length">
			<br>You have no friends... Sorry...
		</div>  
		<div style="overflow-y: auto; overflow-x: hidden; height: 400px">
			<table class="backgroundtable">
				<tbody>
					<tr ng-repeat="contact in contacts | filter:searchForFriend">
					    <td align="left">
					    	<a href="#" ng-click="viewMesseges(contact.id, contact.firstName, contact.lastName)">
					    		{{ contact.firstName }} {{ contact.lastName }}
					    		<br>
					    		{{contact.email}}
					    	</a>
					        <br>
					        <a href="#" ng-click="ignoreFriend(contact.id)">
					        	<img src="../common/blockuser.png">
					        </a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<error>{{friendIgnoreError}}</error>
		<valid>{{friendIgnoreValid}}</valid>
	</div>
	
	<div style="float:left; width:2%;">
	</div>
	 
	<div id="dialogForm" style="float:right; width:75%;">
		<b>{{dialogWithFriend}}</b>
		
		<div ng-show="hiddenFriendId != null">
			<table class="nobackgroundtable">
				<tbody>
					<td>
						<textarea id="messageText" placeholder="Input your message here" cols="40" rows="3" my-maxlength="3" ng-model="messageText" style="width: 99%;"></textarea>
						<BR>
						<input type="button" id="buttonSendMessage" ng-click='sendMessage()' value="Send Message" 
							style="width: 90%;" class="btn"/>
						<a href="#" ng-click="reset()">
				        	<img src="../common/eraser.png">
				        </a>
					</td>
				</tbody>
			</table>
			<valid>{{sendMessageValid}}</valid>
			<p hidden>{{hiddenFriendId}}</p>
		</div>
		<br>
		
		<div id="refreshForm" ng-show="autoRefeshStatus.length">
			<error>{{autoRefeshStatus}}</error>  
			<input type="button" ng-click='autoRefresh()' value="Start refreshing" class="btn"/>
		</div>
		
		<div ng-show="hiddenFriendId != null"">
			<input type="text" placeholder="Search for Message" ng-model="searchForMessage" style = "width:100%;">
		</div>
		
		<div ng-show="hiddenFriendId != null"  style="overflow-y: auto; overflow-x: hidden; height: 350px; width: 100%;">
			<hr>
			<table class="dialogtable">
				<!--  <thead> 
					<col width="95%" align="left">
					<col width="5%" align="left">
					<tr>
					    <th align="left">Message</th>
						<th></th>
					</tr>
				</thead> -->
				<tbody>
					<tr ng-repeat="message in messages | filter:searchForMessage">
					    <td align="left" ng-class='{sent :message.authorId == hiddenFriendId, recieved: message.authorId != hiddenFriendId}'>
					    	{{message.authorId == hiddenFriendId ? "&#x21FD" : "&#x21D2"}} {{ message.text}}
					   	</td>
					    <!--
					    <td align="center" ng-class='{sentarrow :message.authorId != hiddenFriendId, recievedarrow: message.authorId == hiddenFriendId}'>
					    	
					    </td>
					    <td >
					        <a href="#" ng-click="deleteMessage(message.id)">Delete</a>
					    </td>
					    -->
					</tr>
				</tbody>
			</table> 
			<div ng-show="!messages.length">
				<br>You have no messages yet...
			</div>
			<br>
			<error>{{getMessageError}}</error>
			<valid>{{getMessageValid}}</valid>
			<p hidden>{{hiddenFriendId}}</p>
		</div>	
		
	</div>
</div>
</body>
</html>