/*-------------------------
	Simple reset
--------------------------*/
{
	margin:0;
	padding:0;
}
/*-------------------------
	General Styles
--------------------------*/
div{
	
}
.class-to-center {
  width: 600px;
  margin: auto;
}

html{
	height: 88%;
	width: 99%;
}

td{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;	
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	height: 100%;
	width: 100%;
}

a, a:visited {
	outline:none;
	color:#389dc1;
}

a:hover{
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}

p{
	font-s
	color:#7d9098;
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#DC64C6;
	border-radius:2px;ize:22px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:18px;
}

/*-------------------------
	The button
--------------------------*/
.btn {
  font:15px/1.3 'Open Sans', sans-serif;
  color: #5e5b64;	
  color : rgb(49, 46, 46);
  background-color: white;
  color: black;
  border: 1px solid #555555;
  background-color: white;
}
.btn:not([disabled]):hover {
  font:15px/1.3 'Open Sans', sans-serif;
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
}

error {
    color: red;
    font-style: italic;
    }
	
valid {
    color: green;
    font-style: italic;
}
/*-------------------------
	The header
--------------------------*/
/*
header {
    background-color:white;
    color:black;
    text-align:right;
    bol
    padding:5px; 
    width:100%;
	font:24px/1.3 'Open Sans', sans-serif,bold;
	color: #5e5b64;
	
}
*/

/*-------------------------
	The table
--------------------------*/

table.backgroundtable {
    border-collapse: collapse;
    width: 100%;
}
table.backgroundtable th	{
    background-color: #55B460;
    font-weight:bold;
	font-size:16px;
	color: white;
}
table.backgroundtable tr:nth-child(even) {
    background-color: #eee;
}
table.backgroundtable tr:nth-child(odd) {
   background-color:#fff;
}

/*-------------------------
	The table
--------------------------*/

table.nobackgroundtable {
    border-collapse: collapse;
    width: 100%;
}
table.nobackgroundtable th	{
    background-color: white;
    font-weight:bold;
	font-size:16px;
	color: #55B460;
}
table.nobackgroundtable tr {
    background-color: white;
}


/*-------------------------
	Dialog
--------------------------*/
table.dialogtable{
    border-collapse: collapse;
    width: 100%;
}

.sent{
	background-color:#55B460;
	color: white;
	text-align: left;
	padding-left: 25%;
}

.recieved{
	background-color: white;
	color: #55B460;
	text-align:left;
	padding-right: 25%;
}

/*-------------------------
	The menu
--------------------------*/

nav{
	display:inline-block;
	background-color:#55B460;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
	width: 100%;
	text-align: center;
}

nav a{
	display:inline-block;
	padding: 18px 30px;
	color:#fff !important;
	font-weight:bold;
	font-size:16px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}

nav a:first-child{
	border-radius:2px 0 0 2px;
}

nav a:last-child{
	border-radius:0 2px 2px 0;
}

nav.home .home,
nav.team.team,
nav.about .about,
nav.contact .contact{
background-color:#5867E3;
}

/*-------------------------
	The footer
--------------------------*/
footer{
    clear: both;
    position:fixed;
 	bottom:0;
    text-align:center;
    padding:5px;
    width: 100%;
    
}

/*-------------------------
	The section
--------------------------*/

section {
    float:center;
    padding:10px; 
    text-align:center;    
}
