table {
            width: 100%;
        }

        thead, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;

            /*text-align: left;*/
        }

        tbody {
            overflow-y: auto;
        }

        thead {
            /* fallback */
        }

        tbody td, thead th {
            width: 19.2%;
            float: left;
        }