<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="friends.controller.js"></script>
<script src="../common/xml2json.min.js"></script>
<script src="../common/cookieGet.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*">
	<meta charset="utf-8"/>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
	<!-- The main CSS file -->
	<link rel="stylesheet" type="text/css" href="../common/style.css">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
	
<body ng-app="myAppName">
<div ng-controller="ContactController" class = "class-to-center">
	<form name="friendsForm">
	    <table class="nobackgroundtable">
	    	<thead> 
				<col width="200px" align="left">
				<col width="200px" align="left">
				<col width="200px" align="left">
			</thead>
	      	<tr>
	    		<td>
	    			New Friend's E-mail: 
	    		</td>
	    		<td>
	    			<input type="text" id="email" name="email" ng-model="newcontactEmail"
	    			ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" 
	      			ng-minlength="3" ng-maxlength="100" required placeholder="Your friend e-mail"/>
	        		<!-- onfocus="if(this.value == 'Your friend e-mail') { this.value = ''; }" value="Your friend e-mail"  -->
	        	</td>
	  			<td align="left">
	  				<span ng-show="friendsForm.email.$touched && !friendsForm.email.$valid"><error>E-mail is incorrect</error></span>
	  				<span ng-show="friendsForm.email.$error.maxlength"><error>E-mail is too long</error></span>
	  				<span ng-show="friendsForm.email.$touched && !friendsForm.email.$error.required && friendsForm.email.$valid"><valid>Valid</valid></span>
	  				<input type="button" id="sendRequest" value="Send Request" ng-click="saveContact()" ng-disabled="!friendsForm.$valid" class="btn btn-primary"/>
	    		</td>
	  		</tr>
		</table>
	</form>
	<error>{{friendAddError}}</error>
	<valid>{{friendAddValid}}</valid>
	<br>
	
	<div id="refreshForm" ng-show="autoRefeshStatus.length">
		<error>{{autoRefeshStatus}}</error>  
		<input type="button" ng-click='autoRefresh()' value="Start refreshing" class="btn"/>
	</div>
	
	<b>Friendship Requests</b>
	<div ng-show="requests.length">
		<table class="backgroundtable">
			<thead> 
				<col width="200px" align="left">
				<col width="200px" align="left">
				<col width="200px" align="left">
				<tr>
				    <th align="left">Name</th>
				    <th align="left">Email</th>
				    <th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="request in requests">
				    <td align="left">{{ request.firstName }} {{ request.lastName }}</td>
				    <td align="left">{{ request.email }}</td>
				    <td >
				        <a href="#" ng-click="approveFriend(request.id)">
						     <img src="../common/approve.png">
						</a>
				        <a href="#" ng-click="ignoreFriend(request.id)">
						     <img src="../common/blockuser.png">
						</a>
				    </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="!requests.length">
		You have no friendship requests... Sorry...
	</div>
	<br>
	<error>{{friendApproveError}}</error>
	<valid>{{friendApproveValid}}</valid>
	
	
	
	
	
	<hr>
	<div style="float:left; width:49%;">
		<br>
		<b>Friends</b>
		<input type="text" placeholder="Search for Friend" ng-model="searchForFriend" style = "width:100%;">
		<div style="overflow-y: auto; overflow-x: hidden; height: 350px; width: 100%;">
			<table class="backgroundtable">
				<thead> 
					<col width="85%" align="left">
					<col width="15%" align="left">
				</thead>
				<tbody>
					<tr ng-repeat="contact in contacts| filter:searchForFriend">
					    <td align="left">{{ contact.firstName }} {{ contact.lastName }}
					    	<br>
					    	{{ contact.email }}</td>
					    <td >
					        <a href="#" ng-click="ignoreFriend(contact.id)">
						     <img src="../common/blockuser.png">
							</a>
					    </td>
					</tr>
				</tbody>
			</table>  
			  
			<div ng-show="!contacts.length">
				You have no friends... Sorry...
			</div>
			<br>
			<error>{{friendIgnoreError}}</error>
			<valid>{{friendValid}}</valid>
		</div>
	</div>	
	<br>
	
	<div style="float:left; width:2%;">
	</div>
	
	
	 
	<div style="float:right; width:49%;">
		<b>Ignored Users</b>
		<input type="text" placeholder="Search for Ignored User" ng-model="searchForIgnored" style = "width:100%;">
		<div style="overflow-y: auto; overflow-x: hidden; height: 350px; width: 100%;">
			<table class="backgroundtable">
					<thead> 
					<col width="85%" align="left">
					<col width="15%" align="left">
				</thead>
				<tbody>
					<tr ng-repeat="ignored in ignores| filter:searchForIgnored">
					    <td align="left">{{ ignored.firstName }} {{ ignored.lastName }}
					    <br>{{ ignored.email }}</td>
					    <td >
					        <a href="#" ng-click="restoreFriend(ignored.id)">
						    <img src="../common/approve.png">
						</a>
					    </td>
					</tr>
				</tbody>
			</table>
			
			<div ng-show="!ignores.length">
				You have no ignored friends...Lucky you!
			</div>
			<br>
			<error>{{friendUnIgnoreeError}}</error>
			<valid>{{friendUnIgnoreValid}}</valid>
		</div>
	</div>
	
</div>
</body>
</html>