<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>   
<script src="registration.controller.js"></script>

<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*");>
<link rel="stylesheet" type="text/css" href="../common/style.css">
</head>
<body ng-app="scopeRegistration">
<title>Registration</title>

<form name="regForm" ng-submit="vm.register()" role="form">
<div ng-controller="RegController" class = "class-to-center">
<table class= "nobackgroundtable">
	<col width="200px">
	<col width="160px">
	<col width="200px">
			<thead>
				<tr>
				</tr>
				<tr>
					<th colspan="2">Registration Form</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
				<tr>
					<td align="right">First Name:</td>
					<td align="left">
						<input type="text" id="fname" name="fname" ng-model="fname" ng-minlength="1" ng-maxlength="45" required>
					</td>
					<td align="left">
						<span ng-show="regForm.fname.$touched && regForm.fname.$error.required"><error>Please add First Name</error></span>
  						<span ng-show="regForm.fname.$error.maxlength"><error>First name is too long</error></span>
  						<span ng-show="regForm.fname.$touched && !regForm.fname.$error.required && !regForm.fname.$error.maxlength"><valid>Validated</valid></span>
  					</td>
				</tr>
				<tr>
					<td align="right">Last Name:</td>
					<td align="left">
						<input type="text" id="lname" name="lname" ng-model="lname" ng-minlength="1" ng-maxlength="50" required>
					</td>
					<td align="left">
						<span ng-show="regForm.lname.$touched && regForm.lname.$error.required"><error>Please add Last Name</error></span>
  						<span ng-show="regForm.lname.$error.maxlength"><error>Last name is too long</error></span>
  						<span ng-show="regForm.lname.$touched && !regForm.lname.$error.required && !regForm.lname.$error.maxlength"><valid>Validated</valid></span>
  					</td>
				</tr>
				<tr>
					<td align="right">
						E-mail: 
					</td>
					<td align="left">
						<input type="email" id="email" name="email" ng-model="email" 
						ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" 
      			 		ng-minlength="1" ng-maxlength="100" required>
  					</td>
  					<td align="left">
  						<span ng-show="regForm.email.$touched && !regForm.email.$valid"><error>E-mail is incorrect</error></span>
  						<span ng-show="regForm.email.$error.maxlength"><error>E-mail is too long</error></span>
  						<span ng-show="regForm.email.$touched && !regForm.email.$error.required && regForm.email.$valid"><valid>Validated</valid></span>
  					</td>
				</tr>
				<tr>
					<td align="right">Password:</td>
					<td align="left">
						<input type="password" id="password" name="password" ng-model="password" 
						ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,20}$/"
						ng-minlength="6" ng-maxlength="20" required>
  					</td>
					<td align="left">
					 	<span class="error" ng-show="!myForm.input.$valid">
						<span ng-show="regForm.password.$touched && !regForm.password.$valid"><error>6 to 20 characters, one numeric digit and a special character</error></span>
  						<span ng-show="regForm.password.$valid"><valid>Validtaed</valid></span>
  					</td>
				</tr>
				<tr>
					<td align="right">Confirm Password:</td>
					<td align="left">
						<input type="password" id="passwordConfirm" name="passwordConfirm" ng-model="passwordConfirm" 
						ng-pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,20}$/"
						ng-minlength="6" ng-maxlength="20" ng-match="password" required>
						
					</td>
					<td align="left">
						<span ng-show="regForm.passwordConfirm.$touched && password !== passwordConfirm"><error>Passwords are not correct or don't match</error></span>
  						<span ng-show="regForm.passwordConfirm.$touched && !regForm.passwordConfirm.$error.required && password == passwordConfirm && regForm.password.$valid"><valid>Validtaed</valid></span>
  					</td>
				</tr>
				<tr>
					<td align="right"><a href="../login/login.view.html">Already registered</a></td>
					<td>
						<input type="reset" id="reset" ng-click='reset()' value="Reset" class="btn"/>
						<input type="button" id="register" ng-disabled="!regForm.$valid" ng-click='register()' value="Register" class="btn"/>
						<br>
						<Error>{{error}}</Error>
						{{greeting}}
					</td>
        		</tr>
			</tbody>
		</table>
		</div>
	</form>
</body>
</html>