<!DOCTYPE html>
<html>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
<script src="login.controller.js"></script>
<script src="../common/cookiePost.js"></script>
<head xmlhttp.setRequestHeader("Access-Control-Allow-Origin", "*">
		<meta charset="utf-8"/>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<!-- The main CSS file -->
		<link rel="stylesheet" type="text/css" href="../common/style.css">
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>
<body ng-app="login">
<title>Login</title>

<form name="regForm">
<div ng-controller="LoginController" class = "class-to-center">
<table>
	<thead>
		<tr>
		</tr>
		<tr>
		<th colspan="2" align="center">Login</th>
		</tr>
	</thead>
	<tbody>
	<tr>
	</tr>
	<tr>
		<td align="right">
			E-mail: 
		</td>
		<td align="left">
			<input type="email" id = "email" name="email" ng-model="email" 
			ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" 
       		ng-minlength="1" ng-maxlength="100" required>
  		</td>
  		<td align="left">
  			<span ng-show="regForm.email.$touched && !regForm.email.$valid"><error>E-mail is incorrect</error></span>
  			<span ng-show="regForm.email.$error.maxlength"><error>E-mail is too long</error></span>
  			<span ng-show="regForm.email.$touched && !regForm.email.$error.required && regForm.email.$valid"><valid>Looks good</valid></span>
  		</td>
	</tr>
	
	<tr>
  		<td align="right">
			Password: 
		</td>
		
		<td align="left">
			<input type="password" id="password" name="password" ng-model="password" ng-minlength="1" required>
  		</td>
  		<td align="left">
  			<span ng-show="regForm.password.$touched && regForm.password.$error.required"><error>Password is empty</error></span>
  			<span ng-show="regForm.password.$touched && !regForm.password.$error.required"><valid>Ready to check</valid></span>
  		</td>
	</tr>
	<tr>
		<td align="right">
			<input id = "restorebutton" name="restorebutton" type="button" ng-disabled="regForm.email.$invalid" ng-click='restorePassword()' value="Restore Password" class="btn" style = "width: 150px"/>	 
		</td>
		<td align="left">
			<input id = "loginbutton" name="loginbutton" type="button" ng-disabled="regForm.$invalid" ng-click='register()' value="Login" class="btn" style = "width: 150px"/>
		</td>
		
  		<td align="center">
  			<error>{{message}}</error>
  			{{greeting}}
 		</td>
	</tr>
	<tr height="20px"></tr>
	<tr>
		<td colspan="2" align="center">Not registered? <a href="../registration/registration.view.html">Register Here</a></td>
	</tr>
	</tbody>

</table>
</div>
</form>
</body>
</html>
